* {
    /*border: 1px solid black;*/
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 3rem;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: .5rem;
    gap: .5rem;
    border-bottom: 1px solid lightskyblue;
    align-items: end;
}

#logo {
    display: block;
    width: 100%;
    height: auto;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    padding: 1rem;
    text-decoration: none;
    list-style: none;
    height: 1.5rem;
    background-color: aliceblue;
    border-bottom: lightskyblue 1px solid;
}

nav a {
    text-decoration: none;
    display: block;
    color: cornflowerblue;
}

button {
    border: none;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding: .5rem;
}

main h2 {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

main section {
    background-color: lightblue;
}

main section p {
    padding: 0.5rem;
}

/*================ Footer ===============*/
footer {
    border: 1px solid cornflowerblue;
    background-color: aliceblue;
    color: cornflowerblue;
    text-align: center;
    grid-row: 5 / 6;
}